/* footer  */
.foot-sec {
  background-color: #333333;
  width: 100%;
}
.footer {
  height: 80px;
  display: flex;
  /* margin: auto; */
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.3rem;
}
.privacy a {
  text-decoration: none;
  color: white;
}
.privacy a:hover {
  color: rgb(241, 181, 69);
}
.terms a {
  text-decoration: none;
  color: white;
}
.terms a:hover {
  color: rgb(241, 181, 69);
}
