* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(17, 24, 39); */
  background-color: white;
  font-family: var(--font6);
  color: black;
  font-weight: 400;
}

.nav-head {
  background-color: var(--bg-color);
  height: 100vh;
}
/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 5rem;
  height: 4rem;
  background-color: #333333;
  color: #fff;
}
.logo p {
  font-family: var(--font5);
  font-size: 2rem;
  font-weight: 600;
}
.nav-list p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.nav-right input {
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 5px 20px 5px;
}
.nav-right .search-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.search-btn:hover {
  background-color: #0056b3;
}

/* page heading  */
.page-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin: 4rem 1rem;
  padding: 0rem 10rem;
}
.head-info {
  width: 50%;
}
.head-heading {
  font-family: var(--font2);
  font-size: 4rem;
  font-weight: 900;
}
.head-text {
  font-size: 1.2rem;
  font-family: Georgia;
  line-height: 170%;
  /* font-weight: 300; */
  margin-top: 3rem;
  /* padding: 0rem 8rem; */
  text-indent: 40px;
  text-align: justify;
  text-justify: inter-word;
}
.head-img {
  width: 30%;
  display: flex;
  align-items: center;
}
.head-img img {
  height: 30rem;
  width: 30rem;
  border-radius: 45px;
}

/* blog section  */
.blog-sec-head {
  margin: 50px 0px;
}
.blog-sec-head p {
  font-size: 1.9rem;
  font-weight: bold;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.blog-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  height: 400px;
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(34, 48, 77);
  border: 2px solid rgb(159, 169, 189); */
}
/* .card:hover {
  background-color: #d7d6d1;
  border: 1px solid rgb(124, 118, 118);
  border-radius: 20px;
} */
.card-head {
  font-family: var(--font3);
  font-weight: bold;
  font-size: 35px;
  line-height: 150%;
  padding-top: 15px;
}
.card-list ul {
  margin: 32px 0 32px;
  list-style: none;
  padding-left: 0;
}
.card-list ul li {
  font-size: 20px;
  line-height: 165%;
  border-bottom: 1px solid black;
  padding: 12px 0;
  margin-bottom: 0;
}
.card-list ul li a {
  font-family: minion-pro, serif;
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  font-size: 21px;
  line-height: 150%;
}
.card-list .all-articles {
  text-decoration: none;
  color: black;
  border-bottom: 0;
  border-bottom: none;
  font-family: minion-pro, serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 170%;
  text-transform: uppercase;
  padding-top: 23px;
  font-family: europa, sans-serif;
  letter-spacing: 1px;
}

/* footer  */
.foot-sec {
  background-color: #333333;
}
.footer {
  height: 80px;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.3rem;
}
.privacy a {
  text-decoration: none;
  color: white;
}
.privacy a:hover {
  color: rgb(241, 181, 69);
}
.terms a {
  text-decoration: none;
  color: white;
}
.terms a:hover {
  color: rgb(241, 181, 69);
}
